@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #EDF2C9, #BF9649);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #695228;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #73330E;
    text-align: center;
}
h2{
    color: #A6550F;
}
p{
    color: #401D15;
    text-align: justify;
}